<p id="notice"><%= notice %></p>

<h1>All Recipes</h1>

<%= link_to "Breakfast", "#", class: "waves-effect waves-light btn" %>
<%= link_to "Lunch", "#", class: "waves-effect waves-light btn" %>
<%= link_to "Dinner", "#", class: "waves-effect waves-light btn" %>
<%= link_to "Snacks", "#", class: "waves-effect waves-light btn" %>
<%= link_to "Soups", "#", class: "waves-effect waves-light btn" %>

<% @recipes.sort_by{|item| item.created_at}.reverse.each do |recipe| %>
  <div class="row">
    <div class="col s12 m4">
      <div class="card white-text center">
        <!--Image-->
        <div class="card-image waves-effect waves-block waves-light">
          <%= link_to image_tag(recipe.image), recipe_path(recipe) if recipe.image %>
        </div>
        <div class="card-content white-text center">
          <span class="card-title">
            <!--Title-->
            <%= link_to recipe.title, recipe_path(recipe) %>
          </span>
          <!--Meal Type-->
          <p><%= link_to recipe.meal_type, recipe_path(recipe) %></p>
        </div>
      </div>
      
      <%= link_to 'Show', recipe %>
      <%= link_to 'Edit', edit_recipe_path(recipe) %>
      <%= link_to 'Destroy', recipe, method: :delete, data: { confirm: 'Are you sure?' } %>
    </div>
  </div>
<% end %>

<%= link_to "New Recipe", "new_recipe_path", class: "waves-effect waves-light btn" %>
