<p id="notice"><%= notice %></p>

<h1>All Recipes</h1>

<%= link_to "New Recipe", "new_recipe_path", class: "waves-effect waves-light btn" %>

<div class="row">
  <div class="m8 offset-m2 s12">
    <% @recipes.each do |recipe| %>
         <div class="col-m3">
        
          <div id="effect-1" class="effects clearfix">
            <div class="img">
              
              <%= link_to recipe_path(recipe) do %>
              <%= image_tag(recipe.image.url, size: "350x350") %>
              <div class="recipes-overlay">
                <a href="#" class="expand">
                  <div class="center">
                    <%= recipe.title %></a>
                  </div>
                <a class="close-recipes-overlay hidden"></a>
              </div>
            </div>
            <% end %>
          </div>
        </div>
      </div>  
    <% end %>
  </div>
</div>