    <div id="effect-1" class="effects clearfix">
      <div class="img">
        <%= image_tag("meals/meals_dinner.png", class: "meal-image") %>
        <div class="overlay">
          <a href="#" class="expand">Breakfast</a>
          <a class="close-overlay hidden">Breakfast</a>
        </div>
      </div>
      
      <div class="img">
        <%= image_tag("meals/meals_dinner.png", class: "meal-image") %>
        <div class="overlay">
            <a href="#" class="expand">Lunch</a>
            <a class="close-overlay hidden"></a>
        </div>
      </div>
      
      <div class="img">
        <%= image_tag("meals/meals_dinner.png", class: "meal-image") %>
        <div class="overlay">
            <a href="#" class="expand">Dinner</a>
            <a class="close-overlay hidden"></a>
        </div>
      </div>
      
      <div class="img">
        <%= image_tag("meals/meals_dinner.png", class: "meal-image") %>
        <div class="overlay">
            <a href="#" class="expand">+</a>
            <a class="close-overlay hidden">Breakfast</a>
        </div>
      </div>
      
      <div class="img">
        <%= image_tag("meals/meals_dinner.png", class: "meal-image") %>
        <div class="overlay">
            <a href="#" class="expand">+</a>
            <a class="close-overlay hidden">Breakfast</a>
        </div>
      </div>
      
      <div class="img">
        <%= image_tag("meals/meals_dinner.png", class: "meal-image") %>
        <div class="overlay">
            <a href="#" class="expand">+</a>
            <a class="close-overlay hidden">Breakfast</a>
        </div>
      </div>