<div class ="meals-bg"></div>

<div class="row">
  <div class="col s12 m8 offset-m2 center">

    <%= link_to "Display All Recipes", recipes_path, class: "waves-effect waves-light btn" %>
    
    <p>or search by meal</p>
    
    <%= link_to "Breakfast", breakfast_path, class: "waves-effect waves-light btn" %>
    <%= link_to "Lunch", lunch_path, class: "waves-effect waves-light btn" %>
    <%= link_to "Dinner", dinner_path, class: "waves-effect waves-light btn" %>
    <%= link_to "Soups", "#", class: "waves-effect waves-light btn" %>
    <%= link_to "Salads", "#", class: "waves-effect waves-light btn" %>
    <%= link_to "Snacks", "#", class: "waves-effect waves-light btn" %>

  </div>
</div>