<div class ="meals-bg"></div>

<div class="white-background">
  <h1 id="meals-title">Recipes</h1>
  
  <div class="row">
    <div class="col s12 m8 offset-m2 center">
      
      <p id="meal-p">Search By Meal</p>
      <%= link_to "Breakfast", breakfast_path, class: "waves-effect waves-light btn" %>
      <%= link_to "Lunch", lunch_path, class: "waves-effect waves-light btn" %>
      <%= link_to "Dinner", dinner_path, class: "waves-effect waves-light btn" %>
      <%= link_to "Soups", "#", class: "waves-effect waves-light btn" %>
      <%= link_to "Salads", "#", class: "waves-effect waves-light btn" %>
      <%= link_to "Snacks", "#", class: "waves-effect waves-light btn" %>
    </div>
  </div>
  
  <hr/>
  
  <div class="row">
    <div class="col s12 m8 offset-m2 center">
      <p id="meal-p">Search By Ingredients</p>
      <div class="row">
        <div class="input-field col s12 m8 offset-m2 center">
          <select multiple>
            <option value="" disabled selected>Choose Ingredients</option>
            <option value="1">Option 1</option>
            <option value="2">Option 2</option>
            <option value="3">Option 3</option>
          </select>
        </div>
      </div>
    </div>
  </div>
  
  
  <hr/>
  
  <div class="row">
    <div class="col s12 m8 offset-m2 center">
    <p id="meal-p">Just Browsing?</p>
    <%= link_to "View All Recipes", recipes_path, class: "waves-effect waves-light btn-large" %>
    <!--< image_tag("meals/meals_breakfast.png", size: "250x250", class: "meal-image") %>-->
    </div>
  </div>
</div>